@import "@styles/vars.scss";
@import "@styles/mixins.scss";

.sandbox{
	display: block;
	width: 100%;
	padding: 100px 0;

	.content{
		background-color: $nasa_grey;
		padding: 50px;
		width: 100%;
		min-height: 300px;
		border-radius: 50px;
		box-shadow: $nice_shadow;
	}
}