@import "@styles/vars.scss";
@import "@styles/mixins.scss";


.descriptionWrapper{
	padding: 35px 0;

	ul{
		list-style: none;

		li{
			margin-bottom: 10px;

			span{
				font-weight: 600;
				display: inline-block;
				width: 120px;
			}
		}
		
	} 

	
}