/**************************************************
VARS File

Description:	Store SCSS vars here


**************************************************/


/***** Color Variables *****/
	$black: 			#212121;
	$white: 			#fafafa;
	$grey_1:		#ececec;
	$grey_2:		#3e3e3e;
	$red: 			#fb0000;

	//Holy Mountain Colors
		$hm_red:		#e30022;
		$hm_orange:	#ff8b00;
		$hm_yellow:	#fee72f;
		$hm_green:		#03c03c;
		$hm_blue:		#1f75fe;
		$hm_purple:	#662b7e;
	
	//NASA Colors
		$nasa_grey:	#D1D3D4;

	/***** Named Colors *****/
		//only use other vars
		$primary_color:			$black;
		$secondary_color:		$white;

		$background_color:	$white;
		$text_color:				$black;
		$accent_color:			$grey_1;


/***** Fonts *****/
	$font_body:		"IBM Plex Mono";
	$font_display:	"Computerfont";
	$font_alt:			"Windows Command Prompt";

/***** Font Sizes *****/
	$font_size_heading:	65px;
	$font_size_subhead:	36px;
	$font_size_body:		20px;
	$font_size_detail:		12px;

/***** Letter Spacing *****/
	$letterSpacingWide:		0.05em;
	$letterSpacingNormal:	0.035em;

/***** Content Widths *****/
	$content_width_s: 	650px;
	$content_width_m: 	920px;
	$content_width_l: 	1450px;


/***** Transition Timings *****/
	$transition_fast:		0.175s ease-in-out;
	$transition_medium:	0.25s ease-in-out;
	$transition_slow:		0.5s ease-in-out;


/***** Z-Index Ranges *****/
	$z_index_base: 		0;
	$z_index_medium: 	100;
	$z_index_high: 		1000;

/***** Shadows *****/

	/* source: https://brumm.af/shadows */
	$nice_shadow:
		0 2.8px 2.2px rgba($black, 0.02),
		0 6.7px 5.3px rgba($black, 0.028),
		0 12.5px 10px rgba($black, 0.035),
		0 22.3px 17.9px rgba($black, 0.042),
		0 41.8px 33.4px rgba($black, 0.05),
		0 100px 80px rgba($black, 0.07);

	$nice_shadow_short:
		0 1.1px 2.2px rgba($black, 0.02),
		0 2.7px 5.3px rgba($black, 0.028),
		0 5px 10px rgba($black, 0.035),
		0 8.9px 17.9px rgba($black, 0.042),
		0 16.7px 33.4px rgba($black, 0.05);


	$text-shadow-red:
		1px 1px $red, 
		2px 2px $red, 
		3px 3px $red, 
		4px 4px $red, 
		5px 5px $red;
	  
	$text-glow-red:
		0 0 1vw $red, 
		0 0 3vw $red, 
		0 0 10vw $red, 
		0 0 10vw $red, 
		0 0 .4vw $red, 
		.25vw .25vw .1vw #806914;
